.ant-layout-header {
  backdrop-filter: blur(10px);
  transition: background-color 0.3s ease, border-color 0.3s ease !important;
  
  .ant-menu {
    background: transparent !important;
    border-bottom: none !important;
  }

  .ant-menu-item a {
    color: inherit !important;
    
    &:hover {
      color: #1677ff !important;
    }
  }

  .ant-drawer {
    .ant-menu {
      border-right: none !important;
    }
  }
}