.skills {
  scroll-margin-top: 80px;
  padding: 100px 0o;
  text-align: center;
}

.skills__title {
  margin-bottom: 40px !important;
  // color: #f5f5f5 !important;
}

.skills__card {
  // background-color: #1f1f1f !important;
  border: none !important;
  min-height: 200px;
}

.skills__card .ant-typography {
  // color: #f5f5f5 !important;
}

.skills__card .ant-tag {
  margin-bottom: 8px;
}
